body {
  font-family: 'Inter', sans-serif;
}

.medium-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
}

.small-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1rem;
}

.dark {
  background-color: #121826;
  color: #F9FAFB;
  min-height: 100vh;
  padding: 20px;
}

.light {
  background-color: #F9FAFBCC;
  color: #000;
  min-height: 100vh;
  padding: 20px;
}

.dark .image-uploader {
  background-color: #30363f;
}

.light .image-uploader {
  background-color: #FFFFFF;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.loader-bar {
  width: 200px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.loader-progress {
  width: 50px; 
  height: 100%;
  background-color: #3662E3;
  position: absolute;
  animation: loader-animation 2s infinite;
}

.loader-text {
  font-size: 16px;
  color: #000;
}

.dark .loader-text {
  color: #F9FAFB;
}

@keyframes loader-animation {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 50px); 
  }
  100% {
    left: 0;
  }
}

.image-preview-container {
  text-align: center;
  padding: 20px;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  background-color: #3662E3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #254dbf;
}

.button-icon {
  margin-right: 8px;
}